In [2]:
import numpy as np
import pandas as pd

In [ ]:
miRNA_name = pd.read_csv('data/HMDD v2.0/HMDD v2.0_miRNA_name.csv')

In [ ]:
miRNA_name

In [ ]:
# miRNA_name.to_csv('HMDD v20_miRNA_name_.csv', header=False, index=False)

In [ ]:
disease_name = pd.read_csv('data/HMDD v2.0/HMDD v2.0_disease_name.csv')

In [ ]:
disease_name

In [ ]:
# remove []
disease_name['disease'] = disease_name['disease'].str.strip('[]')

In [ ]:
disease_name

In [ ]:
# disease_name.to_csv('HMDD v2.0_disease_name_.csv', header=False, index=False)

In [ ]:
MDA = pd.read_csv('data/HMDD v2.0/HMDD v2.0_MDA.csv', header=None)

In [ ]:
MDA

In [ ]:
sum(MDA[2] == 1)

In [ ]:
# Create the association matrix
zero = np.zeros((495, 383))

In [ ]:
association_matrix = pd.DataFrame(zero)

In [ ]:
association_matrix

In [ ]:
# MDA[0] = MDA[0] -1
# MDA[1] = MDA[1] -1

In [ ]:
# MDA.to_csv('HMDD v2.0_MDA_', header=False, index=False)
MDA_ = pd.read_csv('data/HMDD v2.0/HMDD v2.0_MDA_', header=None)

In [ ]:
MDA_

In [ ]:
# select the all rows where MDA_[2] == 1
filtered_MDA_ = MDA_[MDA_[2] == 1]

In [ ]:
filtered_MDA_

In [ ]:
# fill the association matrix
for row, col in zip(filtered_MDA_[0], filtered_MDA_[1]):
    association_matrix.loc[row, col] = 1

In [ ]:
association_matrix

In [ ]:
(association_matrix == 1).sum().sum()

In [ ]:
association_matrix.to_csv('association_matrix_.csv', header=False, index=False)

In [ ]:
disease_name_ = pd.read_csv('data/HMDD v2.0/HMDD v2.0_disease_name_.csv', header=None)

In [ ]:
disease_name_

In [ ]:
mesh_2024_C = pd.read_csv('mesh_2024_C.csv')

In [ ]:
mesh_2024_C

In [ ]:
mesh_2023_C = pd.read_csv('mesh_2023_C.csv', header=None)

In [ ]:
mesh_2023_C

In [ ]:
# repalace ''
disease_name_[1] = disease_name_[1].str.replace("'", "", regex=False)

In [ ]:
disease_name_

In [ ]:
common_disease = disease_name_[disease_name_[1].isin(mesh_2024_C['disease'])]

In [ ]:
common_disease

# mir2disease

In [ ]:
mir2disease_all_associations = pd.read_csv('mir2disease.txt', header=None, sep='\t')

In [ ]:
mir2disease_all_associations

In [ ]:
mir2disease_all_associations_ = mir2disease_all_associations[[0,1,2]]

In [ ]:
mir2disease_all_associations_

In [ ]:
mir2disease_all_associations_.columns = ['miRNA', 'disease', 'up/down-regulated']

In [ ]:
mir2disease_all_associations_

In [ ]:
# mir2disease_all_associations_['association'] = 1

In [ ]:
mir2disease_all_associations_

# miR2Disease dataset

In [ ]:
miR2Disease = pd.read_csv('data/miR2Disease/mir2Disease.csv', header=None)

In [ ]:
miR2Disease

In [ ]:
miRNA_name_ = miR2Disease[1].unique()
miRNA_name_ = np.sort(miRNA_name_)
miRNA_name_ = pd.DataFrame(miRNA_name_)

In [ ]:
miRNA_name_

In [ ]:
miRNA_name_.insert(0, 'index', range(1, len(miRNA_name_) + 1))

In [ ]:
miRNA_name_

In [ ]:
# miRNA_name_.to_csv('disease_name.txt', sep=' ', header=False, index=False)

# association

In [ ]:
miRNAname = pd.read_csv('data/miR2Disease/0-1/miRNA_name.txt', sep=' ', header=None)
diseasename = pd.read_csv('data/miR2Disease/0-1/disease_name.txt', sep=' ', header=None)

In [ ]:
diseasename

In [ ]:
zero = np.zeros((len(miRNAname), len(diseasename)))

In [ ]:
zero

In [ ]:
association_matrix2 = pd.DataFrame(zero, index=miRNAname[1], columns=diseasename[1])

In [ ]:
association_matrix2

In [ ]:
mda = pd.read_csv('data/miR2Disease/-1-0-1/miR2Disease_MDAthree.csv', header=None)

In [ ]:
mda

In [ ]:
# mda01 = mda[[0, 1, 3]]

In [ ]:
# mda01

In [ ]:
# mda01_un = mda01.drop_duplicates()
mda011_un = mda.drop_duplicates()

In [ ]:
mda011_un

In [ ]:
# 检查是否包含nan值在这些标签中
filtered_mda011_un = mda011_un[mda011_un[2] != 'hepatocellular carcinoma (HCC)']

In [ ]:
filtered_mda011_un_1 = filtered_mda011_un.dropna(subset=[2])

In [ ]:
filtered_mda011_un_1

In [ ]:
for index, row in filtered_mda011_un_1.iterrows():
    miRNA = row[0]
    disease = row[1]
    label = row[2]
    if miRNA in association_matrix2.index and disease in association_matrix2.columns:
        association_matrix2.loc[miRNA, disease] = label

In [ ]:
association_matrix2

In [ ]:
non_zero_count = np.count_nonzero(association_matrix2.values)

In [ ]:
non_zero_count

In [ ]:
# association_matrix2.to_csv('miR2Disease_MDA011_.csv', sep='\t', header=False, index=False)

# miR2Disease(-1/0/1)

In [ ]:
mda011 = pd.read_csv('data/miR2Disease/mir2Disease.csv', header=None)

In [ ]:
mda011_1 = mda011[[0, 1, 2]]

In [ ]:
mda011_1

In [ ]:
# select 1 and -1 
filtered_mda011  = mda011_1[mda011_1[2] != 'normal']

In [ ]:
# filtered_mda011.to_csv('miR2Disease_MDAthree.csv', header=False, index=False)
filtered_mda011

# case study

In [3]:
association_scores = pd.read_csv('case.csv', header=None)

In [4]:
association_scores#

,0,1,2,3,4,5,6,7,8,9,...,373,374,375,376,377,378,379,380,381,382
0,0.035264,0.036608,0.008519,0.036228,0.039967,0.102606,0.008738,0.158519,0.015530,0.072579,...,0.082273,0.017766,0.106716,0.196236,0.032594,0.020691,0.011345,0.012433,0.009139,0.018433
1,0.043434,0.037668,0.008297,0.067957,0.058046,0.166448,0.009457,0.209028,0.026745,0.062891,...,0.142936,0.026325,0.158378,0.215159,0.066426,0.027700,0.013079,0.026592,0.018185,0.026639
2,0.017490,0.021071,0.005142,0.018108,0.029701,0.087296,0.002947,0.162721,0.007113,0.037637,...,0.034988,0.006684,0.092110,0.163183,0.023434,0.007647,0.006577,0.007261,0.006012,0.008917
3,0.019305,0.023203,0.003825,0.017616,0.022324,0.067190,0.002846,0.096980,0.007709,0.034399,...,0.037732,0.005955,0.062766,0.149888,0.018845,0.009539,0.004795,0.007807,0.005125,0.006973
4,0.096343,0.084174,0.022356,0.073862,0.087563,0.341022,0.013064,0.277735,0.030674,0.133109,...,0.143062,0.029095,0.295382,0.364304,0.063648,0.037158,0.031438,0.034650,0.029129,0.024807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,0.007355,0.006261,0.001629,0.009650,0.010843,0.034885,0.000960,0.053440,0.003204,0.014558,...,0.019987,0.004575,0.046102,0.072848,0.012837,0.005284,0.001787,0.002383,0.001997,0.002967
491,0.013918,0.015391,0.002051,0.010237,0.010736,0.040218,0.001745,0.089101,0.004502,0.031877,...,0.024267,0.003838,0.036550,0.122203,0.009095,0.005252,0.003077,0.003438,0.003121,0.005233
492,0.005216,0.005910,0.001321,0.007559,0.008675,0.035273,0.001315,0.090190,0.002938,0.016709,...,0.014765,0.001854,0.041703,0.101088,0.007721,0.003117,0.002359,0.002529,0.001766,0.003070
493,0.008036,0.005959,0.001771,0.010435,0.011463,0.039100,0.001244,0.046928,0.004172,0.019736,...,0.018209,0.004473,0.043839,0.082181,0.017477,0.004830,0.001944,0.003362,0.001536,0.002826
494,0.007799,0.007931,0.002321,0.011542,0.019334,0.064259,0.001977,0.126748,0.003710,0.020181,...,0.022586,0.006503,0.060403,0.117878,0.030736,0.005120,0.005148,0.003029,0.003441,0.005328

In [5]:
mda = pd.read_csv('data/HMDD v2.0/HMDD v2.0_MDA.csv',header=None, sep=',')

In [6]:
mda

          0    1  2
0         1    1  1
1         1    2  0
2         1    3  0
3         1    4  0
4         1    5  0
...     ...  ... ..
189580  495  379  0
189581  495  380  0
189582  495  381  0
189583  495  382  0
189584  495  383  0

[189585 rows x 3 columns]

In [7]:
filter_mda_1 = mda[mda.iloc[:,2]==1]

In [8]:
filter_mda_1

          0    1  2
0         1    1  1
36        1   37  1
49        1   50  1
53        1   54  1
58        1   59  1
...     ...  ... ..
188045  491  376  1
188429  492  377  1
188812  493  377  1
189195  494  377  1
189579  495  378  1

[5430 rows x 3 columns]

In [9]:
filter_mda_1[0] = filter_mda_1[0] - 1
filter_mda_1[1] = filter_mda_1[1] - 1

C:\Users\Huawei\AppData\Local\Temp\ipykernel_22204\253854734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_mda_1[0] = filter_mda_1[0] - 1
C:\Users\Huawei\AppData\Local\Temp\ipykernel_22204\253854734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_mda_1[1] = filter_mda_1[1] - 1

In [10]:
filter_mda_1

          0    1  2
0         0    0  1
36        0   36  1
49        0   49  1
53        0   53  1
58        0   58  1
...     ...  ... ..
188045  490  375  1
188429  491  376  1
188812  492  376  1
189195  493  376  1
189579  494  377  1

[5430 rows x 3 columns]

In [11]:
filter_mda_1[2] = -1

C:\Users\Huawei\AppData\Local\Temp\ipykernel_22204\3049958899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_mda_1[2] = -1

In [14]:
filter_mda_1

          0    1  2
0         0    0 -1
36        0   36 -1
49        0   49 -1
53        0   53 -1
58        0   58 -1
...     ...  ... ..
188045  490  375 -1
188429  491  376 -1
188812  492  376 -1
189195  493  376 -1
189579  494  377 -1

[5430 rows x 3 columns]

In [19]:
for index, row in filter_mda_1.iterrows():
    miRNA = row[0]
    disease = row[1]
    if miRNA in association_scores.index and disease in association_scores.columns:
        association_scores.at[miRNA, disease] = -1

In [20]:
association_scores

,0,1,2,3,4,5,6,7,8,9,...,373,374,375,376,377,378,379,380,381,382
0,-1.000000,0.036608,0.008519,0.036228,0.039967,0.102606,0.008738,0.158519,0.015530,0.072579,...,0.082273,0.017766,0.106716,0.196236,0.032594,0.020691,0.011345,0.012433,0.009139,0.018433
1,-1.000000,0.037668,0.008297,0.067957,0.058046,-1.000000,0.009457,0.209028,0.026745,0.062891,...,0.142936,0.026325,0.158378,-1.000000,-1.000000,0.027700,0.013079,-1.000000,0.018185,0.026639
2,-1.000000,0.021071,0.005142,0.018108,0.029701,0.087296,0.002947,0.162721,0.007113,0.037637,...,0.034988,0.006684,-1.000000,0.163183,0.023434,0.007647,0.006577,0.007261,0.006012,0.008917
3,0.019305,-1.000000,0.003825,0.017616,0.022324,0.067190,0.002846,0.096980,0.007709,0.034399,...,0.037732,0.005955,0.062766,0.149888,0.018845,0.009539,0.004795,0.007807,0.005125,0.006973
4,0.096343,-1.000000,0.022356,0.073862,0.087563,0.341022,0.013064,0.277735,0.030674,0.133109,...,0.143062,0.029095,-1.000000,0.364304,0.063648,0.037158,0.031438,0.034650,0.029129,0.024807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,0.007355,0.006261,0.001629,0.009650,0.010843,0.034885,0.000960,0.053440,0.003204,0.014558,...,0.019987,0.004575,-1.000000,0.072848,0.012837,0.005284,0.001787,0.002383,0.001997,0.002967
491,0.013918,0.015391,0.002051,0.010237,0.010736,0.040218,0.001745,0.089101,0.004502,0.031877,...,0.024267,0.003838,0.036550,-1.000000,0.009095,0.005252,0.003077,0.003438,0.003121,0.005233
492,0.005216,0.005910,0.001321,0.007559,0.008675,0.035273,0.001315,0.090190,0.002938,0.016709,...,0.014765,0.001854,0.041703,-1.000000,0.007721,0.003117,0.002359,0.002529,0.001766,0.003070
493,0.008036,0.005959,0.001771,0.010435,0.011463,0.039100,0.001244,0.046928,0.004172,0.019736,...,0.018209,0.004473,0.043839,-1.000000,0.017477,0.004830,0.001944,0.003362,0.001536,0.002826
494,0.007799,0.007931,0.002321,0.011542,0.019334,0.064259,0.001977,0.126748,0.003710,0.020181,...,0.022586,0.006503,0.060403,0.117878,-1.000000,0.005120,0.005148,0.003029,0.003441,0.005328

In [21]:
miRNAname = pd.read_csv('data/HMDD v2.0/HMDD v20_miRNA_name_.csv', header=None)

In [22]:
miRNAname

       0             1
0      1  hsa-mir-125a
1      2  hsa-mir-196a
2      3  hsa-mir-499a
3      4   hsa-mir-198
4      5   hsa-mir-29a
..   ...           ...
490  491  hsa-mir-550b
491  492  hsa-mir-1227
492  493  hsa-mir-1229
493  494   hsa-mir-944
494  495  hsa-mir-518a

[495 rows x 2 columns]

In [23]:
diseasename = pd.read_csv('data/HMDD v2.0/HMDD v2.0_disease_name_.csv', header=None)

In [24]:
diseasename

       0                                     1
0      1                  'Abortion, Habitual'
1      2  'Acquired Immunodeficiency Syndrome'
2      3    'ACTH-Secreting Pituitary Adenoma'
3      4             'Acute Coronary Syndrome'
4      5                   'Acute Lung Injury'
..   ...                                   ...
378  379              'Vascular Calcification'
379  380                   'Vascular Diseases'
380  381                            'Vitiligo'
381  382       'Waldenstrom Macroglobulinemia'
382  383                 'Wounds and Injuries'

[383 rows x 2 columns]

In [25]:
diseasename[1] = diseasename[1].str.replace("'", "", regex=False)

In [26]:
diseasename

       0                                   1
0      1                  Abortion, Habitual
1      2  Acquired Immunodeficiency Syndrome
2      3    ACTH-Secreting Pituitary Adenoma
3      4             Acute Coronary Syndrome
4      5                   Acute Lung Injury
..   ...                                 ...
378  379              Vascular Calcification
379  380                   Vascular Diseases
380  381                            Vitiligo
381  382       Waldenstrom Macroglobulinemia
382  383                 Wounds and Injuries

[383 rows x 2 columns]

In [27]:
association_scores.index = miRNAname[1]
association_scores.columns = diseasename[1]

In [28]:
association_scores

1,"Abortion, Habitual",Acquired Immunodeficiency Syndrome,ACTH-Secreting Pituitary Adenoma,Acute Coronary Syndrome,Acute Lung Injury,Adenocarcinoma,Adenoma,Adenoviridae Infections,Adrenal Cortex Neoplasms,Adrenocortical Adenoma,...,Toxoplasmosis,Trophoblasts,"Tuberculosis, Pulmonary",Urinary Bladder Neoplasms,Uterine Cervical Neoplasms,Vascular Calcification,Vascular Diseases,Vitiligo,Waldenstrom Macroglobulinemia,Wounds and Injuries
1,,,,,,,,,,,,,,,,,,,,,
hsa-mir-125a,-1.000000,0.036608,0.008519,0.036228,0.039967,0.102606,0.008738,0.158519,0.015530,0.072579,...,0.082273,0.017766,0.106716,0.196236,0.032594,0.020691,0.011345,0.012433,0.009139,0.018433
hsa-mir-196a,-1.000000,0.037668,0.008297,0.067957,0.058046,-1.000000,0.009457,0.209028,0.026745,0.062891,...,0.142936,0.026325,0.158378,-1.000000,-1.000000,0.027700,0.013079,-1.000000,0.018185,0.026639
hsa-mir-499a,-1.000000,0.021071,0.005142,0.018108,0.029701,0.087296,0.002947,0.162721,0.007113,0.037637,...,0.034988,0.006684,-1.000000,0.163183,0.023434,0.007647,0.006577,0.007261,0.006012,0.008917
hsa-mir-198,0.019305,-1.000000,0.003825,0.017616,0.022324,0.067190,0.002846,0.096980,0.007709,0.034399,...,0.037732,0.005955,0.062766,0.149888,0.018845,0.009539,0.004795,0.007807,0.005125,0.006973
hsa-mir-29a,0.096343,-1.000000,0.022356,0.073862,0.087563,0.341022,0.013064,0.277735,0.030674,0.133109,...,0.143062,0.029095,-1.000000,0.364304,0.063648,0.037158,0.031438,0.034650,0.029129,0.024807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
hsa-mir-550b,0.007355,0.006261,0.001629,0.009650,0.010843,0.034885,0.000960,0.053440,0.003204,0.014558,...,0.019987,0.004575,-1.000000,0.072848,0.012837,0.005284,0.001787,0.002383,0.001997,0.002967
hsa-mir-1227,0.013918,0.015391,0.002051,0.010237,0.010736,0.040218,0.001745,0.089101,0.004502,0.031877,...,0.024267,0.003838,0.036550,-1.000000,0.009095,0.005252,0.003077,0.003438,0.003121,0.005233
hsa-mir-1229,0.005216,0.005910,0.001321,0.007559,0.008675,0.035273,0.001315,0.090190,0.002938,0.016709,...,0.014765,0.001854,0.041703,-1.000000,0.007721,0.003117,0.002359,0.002529,0.001766,0.003070
hsa-mir-944,0.008036,0.005959,0.001771,0.010435,0.011463,0.039100,0.001244,0.046928,0.004172,0.019736,...,0.018209,0.004473,0.043839,-1.000000,0.017477,0.004830,0.001944,0.003362,0.001536,0.002826
hsa-mir-518a,0.007799,0.007931,0.002321,0.011542,0.019334,0.064259,0.001977,0.126748,0.003710,0.020181,...,0.022586,0.006503,0.060403,0.117878,-1.000000,0.005120,0.005148,0.003029,0.003441,0.005328

In [40]:
Lung_Neoplasms = association_scores['Breast Neoplasms']

In [41]:
Lung_Neoplasms

1
hsa-mir-125a   -1.000000
hsa-mir-196a   -1.000000
hsa-mir-499a   -1.000000
hsa-mir-198     0.393433
hsa-mir-29a    -1.000000
                  ...
hsa-mir-550b    0.205781
hsa-mir-1227    0.289198
hsa-mir-1229    0.226377
hsa-mir-944     0.187223
hsa-mir-518a    0.305072
Name: Breast Neoplasms, Length: 495, dtype: float64

In [42]:
Lung_Neoplasms = pd.DataFrame(Lung_Neoplasms)

In [43]:
Lung_Neoplasms

              Breast Neoplasms
1
hsa-mir-125a         -1.000000
hsa-mir-196a         -1.000000
hsa-mir-499a         -1.000000
hsa-mir-198           0.393433
hsa-mir-29a          -1.000000
...                        ...
hsa-mir-550b          0.205781
hsa-mir-1227          0.289198
hsa-mir-1229          0.226377
hsa-mir-944           0.187223
hsa-mir-518a          0.305072

[495 rows x 1 columns]

In [44]:
Lung_Neoplasms_sorted = Lung_Neoplasms.sort_values(by='Breast Neoplasms', ascending=False)

In [45]:
Lung_Neoplasms_sorted

              Breast Neoplasms
1
hsa-mir-371a          0.665031
hsa-mir-15b           0.628084
hsa-mir-106a          0.599362
hsa-mir-208b          0.596993
hsa-mir-491           0.585414
...                        ...
hsa-mir-135b         -1.000000
hsa-mir-1323         -1.000000
hsa-mir-1290         -1.000000
hsa-mir-1258         -1.000000
hsa-mir-4257         -1.000000

[495 rows x 1 columns]

In [46]:
# top 30
Lung_Neoplasms_sorted_30 = Lung_Neoplasms_sorted[:30]

In [47]:
Lung_Neoplasms_sorted_30.to_csv('Breast_Neoplasms.csv')